﻿body {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    background: url(/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.scoreboard {
    margin: 60px 20px 0 20px;
    color: white;
}

    .scoreboard .framenumbers > div {
        text-align: center;
    }

    .scoreboard .scoreboard-row {
        background-color: #013dd9;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

        .scoreboard .scoreboard-row .name {
            vertical-align: bottom;
            font-size: 42px;
            display: inline-block;
            padding-top: 42px;
        }

        .scoreboard .scoreboard-row .frame {
            text-align: center;
        }

            .scoreboard .scoreboard-row .frame .rollscore {
                font-size: 28px;
            }

            .scoreboard .scoreboard-row .frame .framescore {
                font-size: 42px;
                font-weight: bold;
            }

        .scoreboard .scoreboard-row .score {
            text-align: right;
            font-size: 52px;
            padding-top: 30px;
            font-weight: bolder;
            margin-left: auto;
            padding-right: 15px;
        }
