﻿@using BowlingGame
@model ScoreBoardViewModel

<div class="scoreboard">
    <div class="row framenumbers">
        <div class="col-1 offset-1">1</div>
        <div class="col-1">2</div>
        <div class="col-1">3</div>
        <div class="col-1">4</div>
        <div class="col-1">5</div>
        <div class="col-1">6</div>
        <div class="col-1">7</div>
        <div class="col-1">8</div>
        <div class="col-1">9</div>
        <div class="col-1">10</div>
    </div>

    @foreach (var player in Model.Players)
    {
        <div class="scoreboard-row row">
            <div class="name col-1">
                @player.Name
            </div>

            @{
                var totalScore = 0;

                foreach (var frame in player.Frames)
                {
                    totalScore += frame.Score();

                    if (frame.GetType() == typeof(StrikeFrame))
                    {
                        <div class="frame col-1">
                            <div class="rollscore">
                                <span>X</span>
                            </div>
                            <div class="framescore">
                                <span>@totalScore</span>
                            </div>
                        </div>
                    }
                    else if (frame.GetType() != typeof(FinalFrame))
                    {
                        <div class="frame col-1">
                            <div class="rollscore">
                                <span>@frame.FirstRoll()</span>
                                <span>@frame.SecondRoll()</span>
                            </div>
                            <div class="framescore">
                                <span>@totalScore</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        var finalFrame = (FinalFrame)frame;

                        <div class="frame bonus col-1">
                            <div class="rollscore">
                                <span>
                                    @(finalFrame.FirstRoll() == 10 ? "X" : finalFrame.FirstRoll().ToString())
                                </span>
                                <span>
                                    @(finalFrame.SecondRoll() == 10 ? "X" : finalFrame.SecondRoll().ToString())
                                </span>
                                <span>
                                    @(finalFrame.ThirdRoll() == 10 ? "X" : finalFrame.ThirdRoll().ToString())
                                </span>
                            </div>
                            <div class="framescore">
                                <span>@totalScore</span>
                            </div>
                        </div>
                    }
                }
            }
        <div class="score col-1">
            <span>@player.TotalScore</span>
        </div>
    </div>
        }
    </div>